@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

:root {
  font-family: "Langar", cursive;
  background-color: #d4a373;
  --color1: #faedcd;
  --color2: #ee6c4d;
}
li:hover {
  background-color: var(--color1);
}

li {
  color: "black";
  list-style: none;
}
.names {
  /* color: var(--color2); */
  background-color: var(--color2);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}
/* ul li::marker {
  color: red;
  font-size: 1.5em;
} */
li.clicked {
  background-color: rgb(19, 2, 2);
}
body {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.names ::after {
  color: black;
}
.names.clicked {
  color: black;
}
#summary {
  font-size: large;
}
